In [54]:
print()

In [55]:
print("Bruce Campbell")

Bruce Campbell

In [56]:
"Welcome to Kingdon"

'Welcome to Kingdon'

gives the output as it is(as a raw data).

In [57]:
230+3290-23   # gives the sum

3497

In [58]:
print('This is an apple','This is a fruit','I dont like apple')

This is an apple This is a fruit I dont like apple

In [59]:
print(1,2,3,4,5,2.3,32.2)

1 2 3 4 5 2.3 32.2

In [60]:
print("This is Python Data Science ")
print ("we are going to do code")
print("and learn the secret of python")
print("Thats it!")

This is Python Data Science
we are going to do code
and learn the secret of python
Thats it!

In [61]:
print('This is Python Data Science\n we are going to do code \nand learn the secret of python \nThats it!')

This is Python Data Science
 we are going to do code
and learn the secret of python
Thats it!

In [62]:
import this

In [63]:
print('''
 This is Python Data Science 
 we are going to do code 
 and learn the secret of python 
 Thats it!
''')

 This is Python Data Science
 we are going to do code
 and learn the secret of python
 Thats it!

there are few settings in print function that we can provide whenever we want to print something.

In [64]:
print(1,2,3,4,5,2.3,32.2, sep=',ðŸ’•,')

1,ðŸ’•,2,ðŸ’•,3,ðŸ’•,4,ðŸ’•,5,ðŸ’•,2.3,ðŸ’•,32.2

* sep = seperation symbol, 
* emoji = window+.(dot)

1. for ordered list
* for unordered list(*)
* *for italic*(* *)
   * _for italic_(_ _)
* **for bold**(** **)
   * __and this also__ (__  __)

In [65]:
print('This', end=' ')
print('is', end=' ')
print('multiline', end=' ')
print('messege', end=' ')

This is multiline messege

end = what comes at end of the line(it may be space, emoji etc)

* creating a variable in pyhton
* age = 18
* name = bob
* color2= 'red'
* is_sleeping= False

In [66]:

age = 1000
name = 'bob'
color2 = 'black'
is_sleeping = False

In [67]:
name = 'Nobita & Suzuka'

datatype can canged by changing the value of a variable.
(new varible of same data type can over write the previous one.)

In [68]:
age =49

## Integer
* integer in python, means any numerical values (positive or negative)
integer can be of any length, it is only limited by the memory available
we can use the type() function to know which class a variable or a value belongs to
* 1, +2,
### example
* x= 34
* y=67564587
* z=84568357843758368758357495684

In [69]:
x = 1
y = 46752096520937698567
z = 384560856975760030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

## Float
* Float or 'floating pint numbers' is a number, positive or negative, containing one or more decimals
* Float can also be scientific nymbers with an "e" to inducate the power of 10
* We can use type()function to know which class a variable or a value belongs to

## String 
* String literals in python are surrounded by either single quatation marks, or double quatation mark.
* MULTILINE STRINGS : we can assign a multiline string by using 3 quotes ''' hey '''

### del
del is use to delete the variable from the memory.

In [95]:
del y

# boolean
True or False

In [96]:
is_coding =True
is_fun= True
are_u_bored= False

# Nonetype
null value and no value at all
CREATE a empty variable

# list
immutable

In [72]:
a = [5,10,15,20,25,30,35,40]
vals = [1,2.2,'python']
colors=['red','green','black']

# touple

In [73]:
a = (5,10,15,20,25,30,35,40)
vals=(1,2.2,'python')
colors=('red','green','black')

# Sets

In [74]:
a = {5,10,15,20,25,30,35,40}
vals={1,2.2,'python'}
colors={'red','green','black'}

# dictionary

In [75]:
car_info = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
    }

# input in python

In [76]:
name = input('What is your name?')
city = input('What city do you live in?')
print("so according to you")
print('you are',name)
print('and you live in',city)

so according to you
you are Preeti
and you live in Lucknow

# coding
35 keywords,variables, datatypes, statements, operators

## operators

### Arithmetic Operators

In [97]:

# operators
a=10
b=3
print(a+b)   # addition
print(a-b)   # subtraction
print(a*b)   # multiplication
print(a/b)   # float div
print(a//b)  # int div
print(23%5)  # remainder
print(a**b)  # exponentiation

13
7
30
3.3333333333333335
3
3
1000

### Assignment Operators

In [78]:
# assignment
a=10
b=5
c=3
# alternate way to assign a value to a variable
x,y,z =10,20,30

In [79]:
a+= 2 # update a with a+2

### Comparison Operators

In [80]:
print(a>b)     # greater than
print(a>=b)    # greater than equal to
print(a<b)     # less than
print(a<=b)    # less than equal to
print(a==b)    # equals to equal to
print(a!=b)    # not equal to

True
True
False
False
False
True

### logical operators (and, or, not)

In [81]:
print(a>b and b>5)
print(a<b and a>5)

print(a>b or a >5)
print(a<b or a >5)
print(a<b or a <5)

print(not a<b)
print(not a>b)

print(not a and not b and not c)         #??
print(not a)
print(not b)
print(not c)

False
False
True
True
False
True
False
False
False
False
False

### membership operators

#### in	
* Returns True if a sequence with the specified value is present in the object 
* x in y
#### not in	
* Returns True if a sequence with the specified value is not present in the object	
* x not in y

In [98]:
colors=['red','green','blue','yellow','black']
print('red' in colors)
print('green' in colors)
print('pink' in colors)
print('blue' in colors)
print('yellow' not in colors)
print('black' not in colors)
print('RED' not in colors)

True
True
False
True
False
False
True

In [83]:
msg = "Its the journey that matters"
print('journey' in msg)
print('destination' in msg)

True
False


# is operator checks whether two objects

In [99]:
# Area of circle
r = 5
print(3.13*r**2)  # 2**4 is for 2^4

78.25

#### Questions for practice.....

In [86]:
radius =int (input('Enter the radius of the circle')) # casting()
#radius = input('Enter the radius of the circle')
#radius = int(radius)
area = 3.14 * radius ** 2
print (area, 'for a circle with radius', radius)

314.0 for a circle with radius 10

In [87]:
# Area of rectangle
l=3
b=5
print(l*b)

15

In [100]:
# area of triangle
print(0.5*(l*b))

4.5

In [89]:
import math   # library

In [90]:
math.pi    #for list ctrl+space

3.141592653589793

In [91]:
# hypotenus using perp. and base


p=float(input('Enter parpendicular'))
b=float(input('Enter base'))
h=math.hypot(p,b)

print('hypotenus is',h)

hypotenus is 10.0

In [92]:
# fact of 5
num = int(input('Enter a number'))
fact = math.factorial(num)
print('Factorial of',num,'is',fact)

Factorial of 12 is 479001600

In [93]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [94]:
# compound interest
p= float(input('Enter principal balance'))
r=float(input('enter interest rate'))
n=float(input('enter number of times interest applied per time period'))
t=float(input('number of time period elapsed'))
a= p*((1+(r/n)**(n*t)))
print('Compound Interest is', a)

Compound Interest is 6473924464345111.0