### Conditions
> single condition based program   (if),
> complete                         (if - else),
> multiple                         (if - elif - else),
 #### code block
 ### if
 * if expression :
 * Statement 1
 * statement 2
 * ...
 * statement n

In [1]:
x=165764
if x%2==0 :
    print("even")
print("the end")

even
the end

In [2]:
a="a1"
a.isnumeric()

False

isnumeric is a function...

In [3]:
num = input("Enter a number")
if num.isnumeric() :
    print("Well Done")
    num=int(num)
else :
    print("Bad input")

Well Done

In [4]:
# Nesting Condition
username =input('Enter username')
email=input('input email')
password = input('input password')
if username =='john cena':
   if email=='john@gmail.com':
        if password == 'qwerty':
            print("Welcome to WWE")
        else :
            print("Wrong password")
   else :
         print("wrong email")
else :
    print("wrong username")

Welcome to WWE

In [5]:

username =input('Enter username')
email=input('input email')
password = input('input password')
if username != 'john cena':
    print('Wrong Username')
elif password!= 'qwerty':
    print('Wrong password')
elif email != 'john@gmail.com':
    print('Wrong email')
else:
    print('Welcome to WWEğŸ¥±')

Wrong Username

In [6]:
#a=input('Enter marks of a')
#a=int(a)
#b=input ('Enter marks of b')
#b=int(b)
marks = input('Enter Marks')
if marks.isnumeric():
    marks = int (marks)
    if marks >=90:
        print('Grade is A')
    elif marks >=80:
        print('Grade is B')
    elif marks >= 70:
        print('Grade is C')
    elif marks >= 60:
        print('Grade is D')
    elif marks <60:
        print('Grade is F')
else :
    print('mark is not a number, grade is invalid')

Grade is F

In [9]:
word = 'Volkwagen'
len(word)

9

### string setting
* r=raw string
* f= formatted setting
* b= byte setting

In [10]:
a=10
b="birds"
print('I can count',a,b,'on the roof')

I can count 10 birds on the roof

In [12]:
print(f'I can count {a} {b} on the roof') #formatted string

I can count 10 birds on the roof

## For loop
* for <variable> in <sequence>:
* Statement 1
* statement 2
* ...
* statement n

In [7]:
x="PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [8]:
fruits=['apple','banana','lemon']
for items in fruits :
    print (f'i have {items}')

i have apple
i have banana
i have lemon

### range() function
* range( )takes mainly 3 arguments
* (optional) start
* ()

In [13]:
for i in range(6):
    print('you got point ',i)

you got point  0
you got point  1
you got point  2
you got point  3
you got point  4
you got point  5

In [14]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [15]:
for num in range(1,10,3):
    print('level',num)

level 1
level 4
level 7

In [16]:
# reverse loop
for num in range (10,5,-1):
    print(num)

10
9
8
7
6

In [17]:
# pattern loop
for i in range(10):
    print(i*'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

extra functional setting for __for loop__
* enumerate
* zip

In [28]:
fruits = ['apple','banana','cherry','orange','kiwi','mango']
for fruit in fruits:
    print(fruit)

apple
banana
cherry
orange
kiwi
mango

In [29]:
for fruit in enumerate(fruits):
    print (fruit)

(0, 'apple')
(1, 'banana')
(2, 'cherry')
(3, 'orange')
(4, 'kiwi')
(5, 'mango')

In [30]:
for i,fruit in enumerate(fruits):
    print (i,fruit)

0 apple
1 banana
2 cherry
3 orange
4 kiwi
5 mango

In [31]:
prices=[100,40,200,50,240,60]

In [34]:
for f,p in zip(fruits,prices):
    print(f,'=>',p)

apple => 100
banana => 40
cherry => 200
orange => 50
kiwi => 240
mango => 60

In [35]:
qty = ['2 kg','2 Dozens','1 kg','1 kg','1/2 kg','5 kg']

In [38]:
for f,p,q in zip(fruits, prices, qty):
    print(f,'=>',q,'for',p)

apple => 2 kg for 100
banana => 2 Dozens for 40
cherry => 1 kg for 200
orange => 1 kg for 50
kiwi => 1/2 kg for 240
mango => 5 kg for 60