# Tuple

In [1]:
a=(1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
b=1,3,5,7
print(b)
print(type(b))

(1, 3, 5, 7)
<class 'tuple'>

In [3]:
for val in a:
    print(val)

1
2
3
4

In [4]:
#concatenation
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [5]:
#Repeat
print(('Repeat',)*3)

('Repeat', 'Repeat', 'Repeat')

In [6]:
my_touple=('a','p','p','l','e',)
print(my_touple.count('p'))
print(my_touple.index('l'))

2
3

In [7]:
#convert touple into a list
al = list(a)
print(al)

[1, 2, 3, 4]

In [8]:
#Conv. touple into list
val = [2,3,12,312,31,32,123,]
print(val)
valt=tuple(val)
print(valt)

[2, 3, 12, 312, 31, 32, 123]
(2, 3, 12, 312, 31, 32, 123)

# set

In [1]:
s1 = {1,2,3,4,5,6,7,8,9,10,1,1}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [3]:
my_set=set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [5]:
#my_set={1,2,[3,4]}   gives error

In [7]:
#initialize a with set()
a=set()

#check data type of a
print(type(a))

<class 'set'>

In [8]:
#initialization
my_set={1,3}
print(my_set)

{1, 3}

In [9]:
#add an element
my_set.add(2)
print(my_set)

{1, 2, 3}

In [10]:
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [11]:
my_set.update([4,5],{1,6,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [12]:
my_set = {1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [14]:
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [15]:
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [16]:
my_set.pop()
print(my_set)

{3, 5}

In [17]:
my_set.clear()
print(my_set)

set()

### set union

In [18]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

### set intersection

In [21]:
print(A & B)

{4, 5}

In [22]:
A.intersection(B)

{4, 5}

In [24]:
B.intersection(A)

{4, 5}

### set difference

In [25]:
print(A-B)

{1, 2, 3}

In [26]:
A.difference(B)

{1, 2, 3}

In [28]:
B-A

{6, 7, 8}

### set symmetric difference

In [29]:
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [30]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [33]:
electric_devices={'Fan','Cooler','Light','TV','AC','Geysers',}
electric_devices1={'heater','vacuum cleaner','Fan','Washing Machine','AC'}
print(electric_devices | electric_devices1)
print(electric_devices & electric_devices1)
print(electric_devices - electric_devices1)
print(electric_devices1 - electric_devices)
print(electric_devices ^ electric_devices1)

{'Light', 'Fan', 'Washing Machine', 'heater', 'AC', 'Geysers', 'TV', 'vacuum cleaner', 'Cooler'}
{'Fan', 'AC'}
{'Light', 'Geysers', 'TV', 'Cooler'}
{'vacuum cleaner', 'Washing Machine', 'heater'}
{'heater', 'TV', 'vacuum cleaner', 'Light', 'Washing Machine', 'Geysers', 'Cooler'}

In [50]:
print(s1)
s1 = list(s1)
print(s1)
st=tuple(s1)
print(st)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Dictionary

In [37]:
my_dict={'name':'Jack','age':26}
print(my_dict['name'])

Jack

In [38]:
print(my_dict.get("age"))

26

In [51]:
#print(my_dict['address'])

In [40]:
print(my_dict.get('address'))

None

In [42]:
my_dict["age"]=27
print(my_dict)

{'name': 'Jack', 'age': 27}

In [43]:
my_dict['address'] = 'Downtown'
print(my_dict)

{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [44]:
squares = {1:1,2:4,3:9,4:16,5:25}
print(squares.pop(4))

16

In [45]:
print(squares.popitem())

(5, 25)

In [47]:
print(squares.clear())

None

In [53]:
report={
    'student 1':{
        'name':'John',
        'marks':{
            'math':80,
            'Science':90,
            'history':70,
            'english':60,
            'evs':90
        }
    },
    'student 2':{
        'name':'Marry',
        'marks':{
            'math':70,
            'Science':80,
            'history':60,
            'english':50,
            'evs':80
        }
    },
}
print(report)

{'student 1': {'name': 'John', 'marks': {'math': 80, 'Science': 90, 'history': 70, 'english': 60, 'evs': 90}}, 'student 2': {'name': 'Marry', 'marks': {'math': 70, 'Science': 80, 'history': 60, 'english': 50, 'evs': 80}}}

In [ ]:
print(report[''])